$font-heading: "Crimson Text", serif;
$font-copy: "Work Sans", sans-serif;

$font-heading-sizes: (
	"xs": 1.2em,
	"s": 1.5em,
	"m": 1.8em,
	"l": 2.5em,
	"xl": 4em
);

$font-copy-sizes: (
	"xs": 0.7em,
	"s": 0.85em,
	"m": 1em,
	"l": 1.3em,
	"xl": 1.6em
);

$border-radius: 5px;

$durations: (
	"short": 50ms,
	"medium": 200ms,
	"long": 500ms
);

$breakpoints: (
	"xs": 0,
	"sm": 576px,
	"md": 768px,
	"lg": 992px,
	"xl": 1200px,
	"xxl": 1400px
);

$spacing_factor: 8;

$shadow_factor: 1.5;