@import "base-theme";

// Colors
$color-surface-shades: (
	"normal": #1e1e24,
	"light": #2e2e38,
	"lighter": #40404f,
);
$color-on-surface: #fff;

$color-primary-shades: (
	"normal": #fd6b10,
	"light": #fe8e48,
);
$color-on-primary: #fff;

$color-secondary-shades: (
	"normal": #ffe285,
	"light": #fff5d6,
);
$color-on-secondary: #000;

$color-border: #bdbdc7;

$color-shadow: #00000050;