@import "utils";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: $color-secondary;
	text-decoration: underline;

	&:hover {
		color: color-secondary("light");
	}
}

:root {
	@include bg-surface;
	@include font-copy;
}
