$spacing_factor: 8;

@function spacing($number) {
	@return $spacing_factor * $number;
}

@mixin theme {
	// Root styles
	@include background(background-0);
	@include paragraph(m);
}

@mixin dark-theme {
	@include theme;

	// Colors

	--color-background-0: #1e1e24;
	--color-background-1: #2e2e38;
	--color-background-2: #40404f;
	--color-background-border: #bdbdc7;
	--color-text-on-background-0: #fff;
	--color-text-on-background-1: #fff;
	--color-text-on-background-2: #fff;

	--color-primary: #fd6b10;
	--color-text-on-primary: #fff;

	--color-secondary: #ffe285;
	--color-text-on-secondary: #000;

	// Fonts

	--font-heading: "Crimson Text", serif;
	--font-paragraph: "Work Sans", sans-serif;

	// Text sizes

	--text-heading-xs: 1.2em;
	--text-heading-s:  1.5em;
	--text-heading-m:  1.8em;
	--text-heading-l:  2.5em;
	--text-heading-xl: 4em;

	--text-paragraph-xs: 0.7em;
	--text-paragraph-s:  0.85em;
	--text-paragraph-m:  1em;
	--text-paragraph-l:  1.3em;
	--text-paragraph-xl: 1.6em;
}



@mixin background($variant) {
	background-color: var(--color-#{$variant});
	color: var(--color-text-on-#{$variant});
}

@mixin heading($size) {
	font-family: var(--font-heading);
	font-size: var(--text-heading-#{$size});
}

@mixin paragraph($size) {
	font-family: var(--font-paragraph);
	font-size: var(--text-paragraph-#{$size});
}

h1 {
	@include heading(xl)
}

h2 {
	@include heading(l)
}

h3 {
	@include heading(m)
}

h4 {
	@include heading(s)
}

h5 {
	@include heading(xs)
}

h6 {
	@include heading(xs)
}

a {
	color: var(--color-secondary);
}