@import "themes/dark-theme";

@function spacing($number) {
	@return 1px * $spacing_factor * $number;
}

@function color-surface($variant: "normal") {
	@return map-get($color-surface-shades, $variant);
}

$color-surface: color-surface();

@function color-primary($variant: "normal") {
	@return map-get($color-primary-shades, $variant);
}

$color-primary: color-primary();

@function color-secondary($variant: "normal") {
	@return map-get($color-secondary-shades, $variant);
}

$color-secondary: color-secondary();

@function duration($name) {
	@return map-get($durations, $name);
}

@function box-shadow($strength) {
	@return 2px * $strength 2px * $strength 5px * $strength $color-shadow;
}

@function breakpoint($name) {
	@return map-get($breakpoints, $name);
}

@mixin bg-surface($variant: "normal") {
	background-color: color-surface($variant);
	color: $color-on-surface;
}

@mixin bg-primary($variant: "normal") {
	background-color: color-primary($variant);
	color: $color-on-primary;
}

@mixin bg-secondary($variant: "normal") {
	background-color: color-secondary($variant);
	color: $color-on-secondary;
}

@mixin font-heading($size: "m") {
	font-family: $font-heading;
	font-size: map-get($font-heading-sizes, $size);
}

@mixin font-copy($size: "m") {
	font-family: $font-copy;
	font-size: map-get($font-copy-sizes, $size);
}
